@page "/projects/{projectId}/tasks/pdg/presumption/edit-stop-payment"
@    using Dfe.ManageFreeSchoolProjects.Constants;
    using Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Presumption;
@model EditStopPaymentModel
@{
    ViewData["Title"] = $"Edit Stop payments - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.ViewPDG, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Edit Stop payments
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-conditional-radio id="payment-stopped" label="Are you sure you want to stop payments?" asp-for="@Model.PaymentStopped">
                <govuk-date-input id="payment-stopped-date" name="payment-stopped-date" asp-for="@Model.PaymentStoppedDate" data-testid="payment-stopped-date" label="Date you want to stop the payments from" hint="For example, 27 3 2021" />
            </govuk-conditional-radio>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>