@page "/project/create/method"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.MethodModel
@{
    var labels = new[] { "Creating an individual project", "Bulk upload" };
    var values = new[] { ProjectCreateMethod.Individual.ToString(), ProjectCreateMethod.Bulk.ToString() };
    var hints = new[] {
        "This is where you create projects for the presumption route.",
        "This is where you create projects for the wave route."
    };
}
@section BeforeMain {
    <div class="govuk-width-container msfp-wider-page">
        <a href="/" class="govuk-back-link">Back</a>
    </div>
}
<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
            <h1 class="govuk-fieldset__heading">
                Which method do you want to use?
            </h1>
        </legend>
        <form class="govuk-form-group" method="post">

            <govuk-radios-input id="method"
                                name="method"
                                asp-for="@Model.Method"
                                labels="@labels"
                                values="@values"
                                hints="@hints" />
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>
