@page "/project/create/method"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.MethodModel
@{
    ViewData["Title"] = "What project do you want to create?";

    var methods = Enum.GetValues<ProjectType>().Except(new [] { ProjectType.NotSet }).ToList();
    var labels = methods.Select(x => x.ToDescription()).ToArray();
    var values = methods.Select(x => x.ToString()).ToArray();
}

@section BeforeMain {
    <div class="govuk-width-container">
        <a href="/" class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">
            <govuk-create-title label="What project do you want to create?" for="method"/>
            <br>

            <div class="govuk-hint">
                You can only create one at a time.
            </div>
            <br/>

            <govuk-radios-input
                id="method"
                name="method"
                asp-for="@Model.Method"
                data-testid="method"
                labels="@labels"
                values="@values"/>

            </div>
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>