@page "/project/create/method"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.MethodModel
@{
    ViewData["Title"] = "Create new free school projects";
}

@section BeforeMain {
    <div class="govuk-width-container">
        <a href="/" class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form-group" method="post">
            <govuk-create-title label="What project do you want to create?" for="method" />
            <br>

            <div class="govuk-hint">
                You can only create one at a time.
            </div>
            <br/>
            
            <govuk-radios-list>
                <govuk-radios-list-item id="create-presumption-route-project-method"
                                        name="method"
                                        value="@ProjectCreateMethod.PresumptionRoute"
                                        description="Presumption route"
                                        asp-for="@Model.Method"/>

                <govuk-radios-list-item id="create-central-route-project-method"
                                        name="method"
                                        value="@ProjectCreateMethod.CentralRoute"
                                        description="Central route"
                                        asp-for="@Model.Method"/>
            </govuk-radios-list>

            <br/>
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>