@page "/project/create/method"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.MethodModel
@{
    var labels = new[] { "Creating an individual project", "Bulk upload" };
    var values = new[] { ProjectCreateMethod.Individual.ToString(), ProjectCreateMethod.Bulk.ToString() };
    var hints = new[] {
        "This is where you create projects for the presumption route.",
        "This is where you create projects for the wave route."
    };
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
            <h1 class="govuk-fieldset__heading">
                Which method do you want to use?
            </h1>
        </legend>
        <form class="govuk-form-group" method="POST">

            <govuk-radios-input id="method"
                                name="method"
                                asp-for="@Model.Method"
                                data-testid="method"
                                labels="@labels"
                                values="@values"
                                hints="@hints" />
            <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Guidance
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a href="#">
                            Creating individual new free school project
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Bulk upload of new free school projects
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>
</div>
