@page "/projects/{projectId}/projectstatus/edit-project-status-withdrawn/{projectStatusId}"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Common
@using Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectStatus
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.ProjectWithdrawnReason.EditProjectWithdrawnModel

@{
    var backlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId);
    ViewData["Title"] = "Provide reasons for changing the status - " + $"{Model.Project.ProjectStatus.CurrentFreeSchoolName}";

    var projectWithdrawnReasonLabels = new[]
     {
        ProjectWithdrawnReason.EducationQuality.ToDescription(),
        ProjectWithdrawnReason.Governance.ToDescription(),
        ProjectWithdrawnReason.SiteAndPlanningIssues.ToDescription(),
        ProjectWithdrawnReason.PupilNumbers.ToDescription()
    };

    {

}


@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<partial name="_ErrorSummary"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.Project.ProjectStatus.CurrentFreeSchoolName</span>
            Provide reasons for changing the status
        </h1>
        <form method="post">
            <govuk-date-input id="year-withdrawn" name="year-withdrawn" asp-for="@Model.WithdrawnYear" label="When was the project withdrawn?" hint="For example, 27 3 2021" />
                                    name="project-withdrawn-reason-type"

                                            name="project-withdrawn-as-a-result-of-national-review-of-pipeline"


            <button class="govuk-button" data-module="govuk-button" data-testid="save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>