  <div class="govuk-width-container ">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
              beta
          </strong>
          <span class="govuk-phase-banner__text">
              This is a new service – your <a class="govuk-link" rel="noopener" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-R_RMp7v-05Mqoh9HLPR405UQVhBWFFEWTlMWDVXWFg2SllGVEJHTldGNS4u" target="_blank">feedback (opens in new tab)</a> will help us to improve it.
          </span>
      </p>
  </div>
  </div>