@model Dfe.ManageFreeSchoolProjects.ViewModels.CreateTitleViewModel
@{
    var headingTestId = Model.TestIdPrefix + "-heading";
    var subHeadingTestId = Model.TestIdPrefix + "-sub-heading";
    var labelClass = $"govuk-label govuk-label--xl" + (Model.AddMargin ? " govuk-!-margin-bottom-6" : "" );
}

<h1 class="govuk-label-wrapper">
    <label class="@labelClass" for=@Model.For data-testid=@headingTestId>
        <span class="govuk-caption-l" data-testid=@subHeadingTestId>Creating a new free school project</span>
        @Model.Label
    </label>
</h1>