@using Dfe.ManageFreeSchoolProjects.Constants;

@model Dfe.ManageFreeSchoolProjects.TagHelpers.NavViewModel

<div class="govuk-grid-column-one-quarter">

    <nav class="mfsp-side-nav">
        <ul class="mfsp-side-nav__list">
            @{
                foreach(NavConstants.NavItem navItem in NavConstants.NavItemList) {
                    bool isCurrent = (NavConstants.NavItemList.IndexOf(navItem) == Model.CurrentIndex);
                    string projectTypePath = (Model.ProjectType == "Central Route" ? "central" : Model.ProjectType.ToLower());
                    string link = (navItem.Description == "Site information" ? string.Format(navItem.Link, Model.ProjectId, projectTypePath) : string.Format(navItem.Link, Model.ProjectId));

                    <mfsp-nav-item href=@link current=isCurrent description="@navItem.Description" />
            }
        }
        </ul>

    </nav>

</div>
