@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@using Microsoft.IdentityModel.Tokens
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@model Dfe.ManageFreeSchoolProjects.ViewModels.ProjectStatusViewModel
@{
    var editlink = string.Format(RouteConstants.EditProjectStatus, Model.ProjectId) + $"?back={BackBehaviour.Previous}" + $"&referrer={Model.Referrer}";
}

<p>
    <govuk-status-tag status=@Model.ProjectStatus id="status-tag" />
    <a class="govuk-link govuk-!-padding-left-5" href="@editlink" id="change-project-status">Change project status</a>
</p>
