@page "/projects/{projectId}/risk-rating/finance/add"
@using Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating.AddFinanceRiskModel
@{
    var ratingLabels = RatingLabelBuilder.Build();

    var labels = new List<string>();
    var values = new List<string>();

    ratingLabels.ForEach(entry =>
    {
        labels.Add(entry.Label);
        values.Add(((int)entry.Rating).ToString());
    });
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">St Marys Catholic Academy - new risk rating entry</span>
            Finance
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <govuk-radios-input id="risk-rating"
                                name="risk-rating"
                                asp-for="@Model.RiskRating"
                                data-testid="risk-rating"
                                label="What is the updated risk rating for finance?"
                                values="@values.ToArray()"
                                html-labels="@labels.ToArray()" />

            <govuk-textarea-input id="summary"
                                  name="summary"
                                  asp-for="@Model.Summary"
                                  data-testid="summary"
                                  label="What is the updated risk summary for finance?" />

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
