@page "/projects/{projectId}/risk-rating/risk-appraisal-form/add"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating.AddRiskAppraisalFormModel
@{
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l"> - new RAG rating entry</span>
            RAF (risk appraisal form)
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <govuk-text-input id="sharepoint-link" name="sharepoint-link" asp-for="@Model.SharepointLink" data-testid="sharepoint-link" label="RAF Sharepoint link" />

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>