@page "/projects/{projectId}/risk-rating/check/add"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating.AddRiskCheckModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l"> - new RAG rating entry</span>
            Check your answers
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Governance and suitability RAG rating
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-governance?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Governance and suitability RAG rating</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Governance and suitability RAG summary
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-governance?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Governance and suitability RAG summary</span>
                    </a>

                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Education RAG rating
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-education?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Education RAG rating</span>
                    </a>

                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Education RAG summary
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-education?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Education RAG summary</span>
                    </a>

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Finance RAG rating
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-finance?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Finance RAG rating</span>
                    </a>

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Finance RAG summary
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-finance?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Finance RAG summary</span>
                    </a>

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    RAF Sharepoint link
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-raf?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> RAF Sharepoint link</span>
                    </a>

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Overall RAG rating
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="empty">Empty</span>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-overall?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Overall RAG rating</span>
                    </a>

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Overall RAG summary
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="other-info-new-rag-rating-overall?returnToSummary=yes">
                        Change<span class="govuk-visually-hidden"> Overall RAG summary</span>
                    </a>

                </dd>

            </div>
        </dl>
        <form action="other-info-new-rag-rating-confirmation" method="post" novalidate="">
            <button class="govuk-button" data-module="govuk-button">
                Confirm
            </button>
        </form>

    </div>
</div>
