@page "/projects/{projectId}/tasks/pdg/central/add-grant-letter"
@using Dfe.ManageFreeSchoolProjects.Constants
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Central.AddPDGGrantLetter

@{
    ViewData["Title"] = $"Add grant letter - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.EditPDGGrantLetters, Model.ProjectId);

    var letterSavedToWorkspaceCheckedStatus = !string.IsNullOrEmpty(Model.GrantLetters.GrantLetterLink) ? "checked" : "";
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}


<partial name="_ErrorSummary"/>

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Add grant letter
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-date-input id="date-signed-initial-grant-letter" name="date-signed-initial-grant-letter" asp-for="@Model.GrantLetters.GrantLetterDate" data-testid="date-signed-initial-grant-letter" label="Date when DfE signed the initial grant letter" hint="For example, 27 3 2021" add-margin="false"/>

            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="initial-grant-letter-saved-to-workspaces-folder"
                               data-testid="initial-grant-letter-saved-to-workspaces-folder" name="initial-grant-letter-saved-to-workspaces-folder" type="checkbox" @letterSavedToWorkspaceCheckedStatus>
                        <label class="govuk-label govuk-checkboxes__label" for="initial-grant-letter-saved-to-workspaces-folder">
                            Saved the signed initial grant letter to Workspaces folder
                        </label>
                    </div>
                </div>
            </fieldset>
            <br/>

            <govuk-date-input id="full-grant-letter-signed-date" name="full-grant-letter-signed-date" asp-for="@Model.GrantLetters.GrantLetterDate" data-testid="full-grant-letter-signed-date" label="Date when DfE signed the full grant letter" hint="For example, 27 3 2021" add-margin="false"/>
            <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="full-grant-letter-saved-to-workspaces-folder"
                               data-testid="full-grant-letter-saved-to-workspaces-folder" name="full-grant-letter-saved-to-workspaces-folder" type="checkbox" @letterSavedToWorkspaceCheckedStatus>
                        <label class="govuk-label govuk-checkboxes__label" for="full-grant-letter-saved-to-workspaces-folder">
                            Saved the signed full grant letter to Workspaces folder
                        </label>
                    </div>
                </div>
            </fieldset>
            <br/>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
        <form action="@backLink">
            <button class="govuk-button govuk-button--warning" data-module="govuk-button" data-testid="discard">
                Discard
            </button>
        </form>
    </div>
</div>