@page "/projects/{projectId}/tasks/pdg/central/edit-payment-schedule"
@using Dfe.ManageFreeSchoolProjects.Constants;
@using Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.Central;
@model EditPDGPaymentScheduleModel
@{
    ViewData["Title"] = $"Edit Payment schedule  - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.ViewPDGCentral, Model.ProjectId);
    var nextPaymentNumber = 1;
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
} 

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Edit Payment schedule
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="govuk-form-group" method="post">
            <p>You can add up to 12 scheduled payments.</p>
            <button class="govuk-button" >
                Add payment @nextPaymentNumber
            </button>
        </form>
    </div>
</div>