/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/dfe-frontend/packages/dfefrontend";
@import "./css/related-items.scss";
@import "./css/summary-card.scss";
@import "./css/task-list.scss";
@import "./css/cookie-banner.scss";
@import "./css/dfe-frontend.scss";
@import "./css/risk.scss";
@import "./css/project-overview.scss";
@import "./css/pupil-numbers.scss";

.app-align-right {
  text-align: right;
}

.autocomplete__option {
	font-family: Arial, sans-serif !important;
	font-weight: 400;
}

.app-\!-width-one-fifth {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 20% !important;
	}
}

.app-\!-width-two-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 40% !important;
	}
}

.app-\!-width-three-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 60% !important;
	}
}

.app-\!-width-four-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 80% !important;
	}
}

/* Prepare Styling */

.prepare-text-align-right {
	text-align: right !important;
}

.prepare-project-listing__filters-container {
	margin-bottom: 0;
}

.prepare-project-listing__filters-details {
	background-color: #f3f2f1;
	padding: 1rem;
	clear: both;
	margin-bottom: 2em;
	border-left: 0;
}

.prepare-project-listing__fitlers-details-summary:before {
	content: none;
}

.prepare-project-listing__fitlers-details-summary {
	padding-left: 0;
	margin-top: 1em;
}

.prepare-project-listing__button--main {
	margin-bottom: 1em;
	text-decoration: none;
}

.prepare-project-listing__filter {
	background-color: govuk-colour("white");
	overflow-y: auto;
	height: 200px;
}

.prepare-project-listing__conditional {
	border: 0;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
}

.prepare-project-listing__button--apply {
	background-color: govuk-colour("black");
	color: govuk-colour("white");
}

.prepare-project-listing__button--apply:hover {
	background-color: govuk-colour("light-grey");
}

.dfe-width-container {
	max-width: 960px;
}

.govuk-prototype-kit-common-templates-related-items {
    border-top: 2px solid govuk-colour("blue");
    padding-top: govuk-spacing(2);
}

.govuk-prototype-kit-common-templates-related-items .govuk-list > li {
    margin-bottom: govuk-spacing(2);
}

.mfsp-side-nav {
	margin-left: -12px;

	ul > li {
		margin-bottom: 0;
	}

	.mfsp-side-nav__list {
		@include govuk-responsive-margin(6, "bottom");
		list-style-type: none;
		padding: 0;
		margin-top: 0;
	}

	.mfsp-side-nav__item {
		padding-left: 8px;
		padding-bottom: 8px;
		padding-top: 6px;
		box-sizing: content-box;
		border-left: 4px solid transparent;
	}

	.mfsp-side-nav__item--current {
		background-color: #f4f2f2;
		border-color: #1d70b8;
		font-weight: bold;
	}

	.mfsp-side-nav__heading {
		@extend .mfsp-side-nav__item;
		font-weight: normal;
		font-size: 1.1857rem;
		color: #505a5f;
		margin: 0;
	}

	.mfsp-side-nav__link {
		text-decoration: none;
	}
}
