@page "/projects/{projectId}/tasks/readiness-to-open-meeting/edit"
@using Dfe.ManageFreeSchoolProjects.Constants
@using Dfe.ManageFreeSchoolProjects.TagHelpers
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.ReadinessToOpenMeeting.EditReadinessToOpenMeeting

@{
    var backlink = string.Format(RouteConstants.ViewReadinessToOpenMeeting, Model.ProjectId);
    ViewData["Title"] = "Edit Readiness to open meeting - " + $"{Model.Project.SchoolName}";
}

@section BeforeMain {
    <govuk-back-link href="@backlink" xmlns="http://www.w3.org/1999/html"/>
}

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">@Model.Project.SchoolName</span>
    Edit Readiness to open meeting (ROM)
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group" id="project-status">

                <govuk-radios-list>
                    
                </govuk-radios-list>


            </div> 

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>