@page "/projects/{projectId}/tasks/region-and-localauthority/localauthority/edit"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.RegionAndLA.EditLocalAuthority

@{
    var currentFreeSchoolName = Model.CurrentFreeSchoolName;
    
    ViewData["Title"] = $"Edit Local authority - {currentFreeSchoolName} - Manage free school projects";
    
    var localAuthorities = Model.LocalAuthorities.ToArray();
}

<div class="govuk-grid-row">
    <a href="/projects/@Model.ProjectId/tasks/region-and-localauthority/region/edit" class="govuk-back-link">Back</a>

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@currentFreeSchoolName</span>
            Edit Local authority
        </h1>
        <div class="govuk-grid-row">
            <partial name="_ErrorSummary"/>

            <form class="form" method="post">
                <div class="govuk-form-group" id="local-authority">
                          <govuk-radios-input
                              asp-for="@Model.LocalAuthority"
                              name="local-authority"
                              data-testid="local-authority"
                              labels="localAuthorities"
                              values="localAuthorities"/>
                      </div>

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
</div>