@page "/projects/{projectId}/tasks/region-and-localauthority/edit"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.RegionLocalAuthority.EditRegionAndLocalAuthority

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>