@page "/projects/{projectId}/tasks/region-and-localauthority/region/edit"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.RegionAndLA.EditRegion

@{
    ViewData["Title"] = $"Edit Region - {Model.CurrentFreeSchoolName} - Manage free school projects";

    var regions = Enum.GetValues(typeof(ProjectRegion));
    var labels = new List<string>();
    var values = new List<string>();

    foreach (var region in regions)
    {
        labels.Add(region.ToDescription());
        values.Add(region.ToDescription());
    }
}

<div class="govuk-grid-row">
    <a href="/projects/@Model.ProjectId/tasks/region-and-localauthority" class="govuk-back-link">Back</a>

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l"> @Model.CurrentFreeSchoolName </span>
            Edit Region
        </h1>

        <div class="govuk-grid-row">
            <partial name="_ErrorSummary"/>

            <form method="post">
                <div class="govuk-form-group" id="region">
                    <label class="govuk-label govuk-heading-m" for="region">Region</label>
                    <govuk-radios-input
                        name="region"
                        asp-for="@Model.Region"
                        data-testid="region"
                        labels="@labels.ToArray()"
                        values="@values.ToArray()"/>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>

            </form>

        </div>
    </div>
</div>