@page "/projects/{projectId}/tasks/pdg/edit-refunds"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.PDG.EditRefundsModel
@{
    ViewData["Title"] = $"Edit Refunds  - {Model.CurrentFreeSchoolName}";
    var backLink = string.Format(RouteConstants.ViewPDG, Model.ProjectId);
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href=@backLink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<h1 class="govuk-heading-xl" data-testid="title">
    <span class="govuk-caption-l" data-testid="school-name">
        @Model.CurrentFreeSchoolName
    </span>
    Edit Refunds
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-date-input id="latest-refund-date" name="latest-refund-date" asp-for="@Model.LatestRefundDate" data-testid="latest-refund-date" label="Latest refund date" hint="For example, 27 3 2021" />
            <govuk-decimal-input id="total-amount" name="total-amount" asp-for="@Model.TotalAmount" data-testid="total-amount" label="Total amount" hint="If there are multiple refunds, just add them up and change the below number each time there's a refund." isMonetary="true" />
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Save and continue
            </button>
        </form>
    </div>
</div>