@page "/projects/{projectId}/tasks/dates/edit"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.Dates.EditDatesTaskModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">St George's Primary School</span>
            Edit dates
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="post">

                    <govuk-date-input id="entry-into-pre-opening" name="entry-into-pre-opening" asp-for="@Model.EntryIntoPreOpening" data-testid="entry-into-pre-opening" label="Entry into pre-opening" hint="For example, 27 3 2021" />
                    <govuk-date-input id="provisional-opening-date-agreed-with-trust" name="provisional-opening-date-agreed-with-trust" asp-for="@Model.ProvisionalOpeningDateAgreedWithTrust" data-testid="provisional-opening-date-agreed-with-trust" label="Provisional opening date agreed with trust" hint="For example, 27 3 2021" />
                    <div class="govuk-fieldset__legend--s">
                        Opening academic year
                    </div>
                    <div id="opening-academic-year-hint" class="govuk-hint">
                        For example, 2021 2022
                    </div>
                    <govuk-text-input id="opening-academic-year" name="opening-academic-year" asp-for="@Model.OpeningAcademicYear" data-testid="opening-academic-year" label="Start year" width="4" /><govuk-text-input id="opening-academic-year-to" name="opening-academic-year-to" asp-for="@Model.OpeningAcademicYearTo" data-testid="opening-academic-year" label="End year" width="4" />

                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>