@page
@using Dfe.ManageFreeSchoolProjects.Pages.Project;
@model CreateProjectModel

<div class="text-center">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary" />

            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Create Project</h2>
            <div class="app-task-list">
                <form class="govuk-form-group" method="POST" id="create-project-form">

                    <govuk-text-input id="project-id" name="project-id" asp-for="@Model.ProjectID" data-testid="project-id-input" label="Project ID" />

                    <govuk-text-input id="school-name" name="school-name" asp-for="@Model.SchoolName" data-testid="school-name-input" label="School name" />

                    <govuk-text-input id="application-number" name="application-number" asp-for="@Model.ApplicationNumber" data-testid="application-number-input" label="Application number" />

                    <govuk-text-input id="application-wave" name="application-wave" asp-for="@Model.ApplicationWave" data-testid="application-wave-input" label="Applicaton wave" />

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true"
                                class="govuk-button govuk-!-margin-top-6"
                                data-module="govuk-button"
                                role="button"
                                id="create"
                                name="action"
                                value="create"
                                data-testid="create-project-button">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
