@page "/project/create/age-range"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.AgeRangeModel
@{
    ViewData["Title"] = "What is the age range?";

}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">
                <govuk-create-title label="What is the age range?" for="age-range" />
                <govuk-number-range id="age-range" asp-for="@Model.AgeRange" hint="For example, 2 to 5" />
            </div>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>