@page "/project/create/capacity"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.CapacityModel
@{
    ViewData["Title"] = "What is the capacity?";

}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@Model.BackLink class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl">
                        <span class="govuk-caption-l">Creating a new free school project</span>
                        What is the capacity?
                    </label>
                </h1>

                <div class="govuk-form-group">
                    <govuk-text-input id="yr-y6-capacity" name="yr-y6-capacity" label="Reception to year 6" asp-for="@Model.YRY6Capacity" data-testid="yr-y6-capacity" hint="For example, 150" />
                </div>
                <div class="govuk-form-group">
                    <govuk-text-input id="y7-y11-capacity" name="y7-y11-capacity" label="Year 7 to year 11" asp-for="@Model.Y7Y11Capacity" data-testid="y7-y11-capacity" hint="For example, 1500" />
                </div>
                <div class="govuk-form-group">
                    <govuk-text-input id="y12-y14-capacity" name="y12-y14-capacity" label="Year 12 to year 14" asp-for="@Model.Y12Y14Capacity" data-testid="y12-y14-capacity" hint="For example, 600" />
                </div>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
</form>
    </div>
</div>