@page "/project/create/faith-status"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.FaithStatusModel

@{
    ViewData["Title"] = "What is the faith status?";

    var faithStatuses = Enum.GetValues<FaithStatus>().Except(new[] { FaithStatus.NotSet }).Select(x => x.ToString()).ToArray();
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary"/>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Creating a new free school project</span>
            What is the faith status?
        </h1>
    </legend>

    <form method="post">

        <div class="govuk-form-group" id="faith-status">
            <label class="govuk-label govuk-heading-m" for="faith-status">Faith status</label>
            <govuk-radios-input name="faith-status"
                                asp-for="@Model.FaithStatus"
                                data-testid="faith-status"
                                labels="@faithStatuses"
                                values="@faithStatuses"/>
        </div>
        
        <br/>
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>