@page "/project/create/faith-status"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.FaithStatusModel

@{
    ViewData["Title"] = "What is the faith status?";

    var faithStatuses = Enum.GetValues<FaithStatus>().Except(new[] { FaithStatus.NotSet }).Select(x => x.ToString()).ToArray();
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary"/>
    <govuk-create-title label="What is the faith status?" add-margin="true" />
    <form method="post">

        <govuk-radios-input name="faith-status"
                            asp-for="@Model.FaithStatus"
                            data-testid="faith-status"
                            labels="@faithStatuses"
                            values="@faithStatuses"/>
        
        <br/>
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>