@page "/project/create/forms-of-entry"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.FormsOfEntryModel

@{
    ViewData["Title"] = "How many forms of entry are there?";
}

@section BeforeMain {
    <div class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" for="forms-of-entry">
                    <span class="govuk-caption-l">Creating a new free school project</span>
                    How many forms of entry are there?
                </label>
            </h1>
            <div class="govuk-form-group" id="forms-of-entry">
                <p class="govuk-!-font-size-18">For example, 3 in primary and 6 in secondary</p>
                <govuk-textarea-input name="forms-of-entry" asp-for="@Model.FormsOfEntry" data-testid="forms-of-entry"/>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>