@page "/project/create/localauthority"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.LocalAuthorityModel
@{
    var localAuthorities = Model.LocalAuthorities.ToArray();
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary"/>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Creating a new free school project</span>
            What is the local authority?
        </h1>

    </legend>

    <form method="post">
        <div class="govuk-form-group" id="local-authority">
            <govuk-radios-input
                asp-for="@Model.LocalAuthority"
                name="local-authority"
                data-testid="local-authority"
                labels="localAuthorities"
                values="localAuthorities"/>
        </div>
        <br/>
        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>