@page "/project/create/localauthority"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.LocalAuthorityModel
@{
    var localAuthorities = Enum.GetValues(typeof(ProjectLocalAuthority));
    var labels = new List<string>();
    var values = new List<string>();

    foreach (var localAuthority in localAuthorities)
    {
        labels.Add(localAuthority.ToDescription());
        values.Add(localAuthority.ToString());
    }
}

<div class="govuk-form-group">
    <partial name="_ErrorSummary"/>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">Creating a new free school project</span>
            What is the local authority?
        </h1>

    </legend>

    <form method="post">

        <div class="govuk-form-group" id="local-authorities">
            <govuk-radios-input
                name="local-authorities"
                asp-for="@Model.LocalAuthorities"
                data-testid="local-authority"
                labels="@Model.LocalAuthorities.ToArray()"
                values="@Model.LocalAuthorities.ToArray()"/>
        </div>

        <button class="govuk-button" data-module="govuk-button" data-testid="continue">
            Continue
        </button>
    </form>
</div>