@page "/project/create/notifyuser"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.NotifyUser
@{
    ViewData["Title"] = "Who do you want to notify about this project?";
}

@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <govuk-create-title label="Who do you want to notify about this project?" />
            <div class="govuk-form-group" id="email">
                <p class="govuk-hint">This is so they can assign it to someone to manage</p>
                <govuk-text-input name="email" asp-for="@Model.Email" label="Email address" data-testid="email"/>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>