@page "/project/create/provisional-opening-date"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.ProvisionalOpeningDateModel
@{
    ViewData["Title"] = "What is the provisional opening date?";

}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary" />
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

            <div class="govuk-form-group">
                <govuk-create-title label="What is the provisional opening date? (optional)" for="provisional-opening-date" />
                <govuk-date-input id="provisional-opening-date" name="provisional-opening-date" asp-for="@Model.ProvisionalOpeningDate" data-testid="provisional-opening-date" hint="For example, 1 9 2023" add-margin="false"/>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>