@page "/project/create/region"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.RegionModel
@{
    ViewData["Title"] = "What is the region of the free school?";

    var regions = Enum.GetValues(typeof(ProjectRegion));
    var labels = new List<string>();
    var values = new List<string>();

    foreach (var region in regions)
    {
        labels.Add(region.ToDescription());
        values.Add(region.ToString());
    }
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">
                <govuk-create-title label="What is the region of the school?" add-margin="true" />
                <div class="govuk-form-group" id="region">
                    <govuk-radios-input 
                        name="region"
                        asp-for="@Model.Region"
                        data-testid="region"
                        labels="@labels.ToArray()"
                        values="@values.ToArray()"/>
                </div>
            </div>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>