@page "/project/create/schoolphase"
@using Dfe.ManageFreeSchoolProjects.API.Contracts.Project.Tasks;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Create.Individual.SchoolPhaseModel
@{
    ViewData["Title"] = "What is the school phase?";

    var schoolPhases = Enum.GetValues<SchoolPhase>().Except(new[] { SchoolPhase.NotSet });

    var labels = schoolPhases.Select(x => x.ToDescription()).ToArray();
    var values = schoolPhases.Select(x => x.ToString()).ToArray();

}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href="@Model.BackLink" class="govuk-back-link" data-testid="back">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <partial name="_ErrorSummary"/>
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

            <div class="govuk-form-group">
                <govuk-create-title label="What is the school phase?" for="school-phase" add-margin="true" />
                <govuk-radios-input 
                    name="school-phase"
                    asp-for="@Model.SchoolPhase"
                    data-testid="school-phase"
                    labels="@labels.ToArray()"
                    values="@values.ToArray()"/>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>

        </form>
    </div>
</div>