@page "/projects/{projectId}/tasks/constituency/search"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Tasks.Constituency.SearchConstituencyModel
@{
    ViewData["Title"] = $"Search Constituency - {Model.CurrentFreeSchoolName}";
    var backlink = string.Format(RouteConstants.ViewConstituency, Model.ProjectId);
}
@section BeforeMain {
    <div role="navigation" class="govuk-width-container msfp-wider-page">
        <a href=@backlink class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl govuk-!-margin-bottom-9" for="constituency">
                            <span class="govuk-caption-l">@Model.CurrentFreeSchoolName</span>
                            Search for a constituency
                        </label>
                    </h1>
                    <govuk-text-input id="search-constituency" name="search-constituency" asp-for="@Model.SearchConstituency" hint="Enter a name or postcode" data-testid="search-constituency" />
            </div>
            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>

    </div>
</div>