@page "/projects/{projectId}/risk/add/confirmation"
@using Dfe.ManageFreeSchoolProjects.Constants;
@model Dfe.ManageFreeSchoolProjects.Pages.Project.Risk.AddRiskConfirmationModel
@{
    var projectOverviewLink = string.Format(RouteConstants.ProjectOverview, Model.ProjectId);
    var projectRiskSummaryLink = string.Format(RouteConstants.ProjectRiskSummary, Model.ProjectId);
    var today = DateTime.Now.ToDateString();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Risk ratings and summaries updated
            </h1>
            <div class="govuk-panel__body">
                Entry date: <br><strong>@today</strong>
            </div>
        </div>
        <p>
            You can return to <a class="govuk-link" href="@projectOverviewLink" data-testid="link-project-overview">about the project</a> or <a class="govuk-link" href="@projectRiskSummaryLink" data-testid="link-risk-summary">risk rating section</a>.
        </p>
    </div>
</div>
