@page "/projects/{projectId}/risk/add/risk-appraisal-form"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating.AddRiskAppraisalFormModel
@{
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName - new RAG rating entry</span>
            RAF (risk appraisal form)
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <label class="govuk-label govuk-heading-m" for="sharepoint-link">
                SharePoint link
            </label>

            <govuk-text-input 
                id="sharepoint-link" 
                name="sharepoint-link" 
                asp-for="@Model.SharepointLink" 
                test-id="sharepoint-link"
                hint="If you have not filled in a RAF, you do not need to enter a link."
             />

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>