@page "/projects/{projectId}/risk/add/risk-appraisal-form"
@model Dfe.ManageFreeSchoolProjects.Pages.Project.RiskRating.AddRiskAppraisalFormModel
@using Dfe.ManageFreeSchoolProjects.Constants;
@{
    ViewData["Title"] = $"RAF (risk appraisal form) - { Model.SchoolName }";
    var backLink = string.Format(RouteConstants.ProjectRiskReview, Model.ProjectId);
}
@section BeforeMain {
    <div class="govuk-width-container">
        <a href="@backLink" class="govuk-back-link">Back</a>
    </div>
}

<partial name="_ErrorSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l" data-testid="school-name">@Model.SchoolName</span>
            RAF (risk appraisal form) (optional)
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            <label class="govuk-label govuk-heading-m" for="sharepoint-link">
                SharePoint link
            </label>

            <govuk-text-input 
                id="sharepoint-link" 
                name="sharepoint-link" 
                asp-for="@Model.SharePointLink" 
                test-id="sharepoint-link"
                hint="If you have not filled in a RAF, you do not need to enter a link."
             />

            <button class="govuk-button" data-module="govuk-button" data-testid="continue">
                Continue
            </button>
        </form>
    </div>
</div>