.project-overview-menu {
    position: sticky;
    top: 0;
}

.project-overview-menu__section-heading {
    color: #505a5f;
    font-weight: normal !important;
}

.project-overview-menu .govuk-list {
    margin-bottom: 30px;
  }

.project-overview-menu .govuk-list li {
    margin-bottom: 10px;
}