// ===========================================
// Risk
// ===========================================
.risk-rating-landing-page__overall-box {
    background-color: #f3f2f1;
    padding: 2em;
    margin-bottom: 2em;
}

.govuk-tag--amber {
    color: #66420d;
    background-image: initial;
    background-color: #ffe4bc;
}