// ===========================================
// Risk
// ===========================================
.risk-rating-landing-page__overall-box {
    background-color: #f3f2f1;
}

.govuk-tag--amber {
    color: #f0c78a;
    background-image: initial;
    background-color: #915400;
}