@inject Microsoft.Extensions.Configuration.IConfiguration _configuration

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l" id="error-heading">@Model.ErrorMessage</h1>
		<p class="govuk-body">
			If you typed the web address, check it is correct.
		</p>
		<p class="govuk-body">
			If you pasted the web address, check you copied the entire address.
		</p>
		<p class="govuk-body">
			If the web address is correct or you selected a link or button, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-X7F89QcWu5CjlJXwF0TVktUMTFEUVRCVVg4WlMyS1AzUEJSUDAySlhQTCQlQCN0PWcu" class="govuk-link">get help with a Regions Group System (opens in new tab).</a>
		</p>
	</div>
</div>