@model Dfe.ManageFreeSchoolProjects.Pages.Errors.IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l" id="error-heading">@Model.ErrorMessage</h1>
		<p class="govuk-body">
			Try again later.
		</p>
		<p class="govuk-body">
			If the system is still not working, <a href="@Configuration["SupportLink"]" class="govuk-link">get help with a Regions Group system.</a>
		</p>
	</div>
</div>