@model Dfe.ManageFreeSchoolProjects.Pages.Errors.IndexModel
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l" id="error-heading">@Model.ErrorMessage</h1>
		<p class="govuk-body">
			Try again later.
		</p>
		<p class="govuk-body">
			If the system is still not working, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-X7F89QcWu5CjlJXwF0TVktUMTFEUVRCVVg4WlMyS1AzUEJSUDAySlhQTCQlQCN0PWcu" class="govuk-link">get help with a Regions Group system.</a>
		</p>
	</div>
</div>